/* general purpose targetting */
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body, html{
	height: 100%;
}
/* inactive background */
.hidden{
	display: none;
}
/* calendar grids */
.calendar{
	margin-left: 27%;
	width: 65%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
}
/* mini logo in bottom left */
.mini-logo{
	position: absolute;
	bottom: 25px;
	left: 55px;
	background: url("../imgs/mini-logo.png");
}
hr{
	margin: auto;
	width: 60%;
}


/* homepage styles */
.homepage{
	height: 100%;
	background: url("../imgs/home.png") no-repeat center center fixed;
	background-size: cover;

	/* in case the image can't load */
	background-color: #76a6d5;
}
/* fade-in animation */
@keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.logo{
	padding-top: 17.5%;
	animation-name: fadeIn;
	animation-duration: 8.5s;
}


/*upcoming events styles */
.upcoming{
	height: 100%;
	background: url("../imgs/bridge.jpg") no-repeat center center fixed;
	background-size: cover;

	/*in case the image can't load */
	background-color: #b14e10;
}
.upcoming-content-box{
	text-align: center;
	margin-left: 27%;
	width: 65%;
	height: 100%;
	background: linear-gradient(rgba(255, 255, 255, 0.3), white 45%);
}
.upcoming-content-box h1{
	padding: 8% 0 3% 0;
	font-size: 86px;
}
.upcoming-content-box h2{
	padding: 2% 0 1% 0;
	font-size: 46px;
}
.upcoming-content-box p{
	font-size: 26px;
	padding-bottom: 2%;
}

/* this month styles */
.this-month{
	height: 100%;
	background: url("../imgs/grass.jpg") no-repeat center center fixed;
	background-size: cover;

}


/* next month styles */
.next-month{
	height: 100%;
	background: url("../imgs/highway.jpg") no-repeat center center fixed;
	background-size: cover;
}


/* endpage styles */
.endpage{

}