/* general purpose targetting */
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	overflow-y: hidden;
}
body, html{
	height: 100%;
}
/* inactive background */
.hidden{
	display: none;
}
/* mini logo in bottom left */
.mini-logo{
	position: absolute;
	bottom: 30px;
	left: 94px;
	background: url("../imgs/mini-logo.png");
}
/************************************************************************************/


/* homepage styles */
.homepage{
	height: 100%;
	background: url("../imgs/home.png") no-repeat center center fixed;
	background-size: cover;
}
/* fade-in animation */
@keyframes logoFadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.logo{
	padding: 20% 0 0 1.5%;
	animation-name: logoFadeIn;
	animation-duration: 8s;
}
@keyframes pageFadeIn{
	0% {padding-top: 95%;}
	90% {padding-top: 0;}
}
.active{
	animation-name: pageFadeIn;
	animation-duration: 4s;
}
/************************************************************************************/


/*upcoming events styles */
hr{
	margin: auto;
	width: 75%;
}
.upcoming{
	height: 100%;
	background: url("../imgs/bridge.jpg") no-repeat center center fixed;
	background-size: cover;
}
.upcoming-content-box{
	text-align: center;
	margin-left: 27%;
	width: 65%;
	height: 100%;
	background: linear-gradient(rgba(255, 255, 255, 0.3), white 45%);
}
.upcoming-content-box h1{
	padding: 6% 0 6% 0;
	font-size: 110px;
}
.upcoming-content-box h2{
	padding: 2% 0 1% 0;
	font-size: 47px; 
}
.upcoming-content-box p{
	font-size: 37px;
	padding-bottom: 2%;
}
/************************************************************************************/


/*calendar styles */
.calendar{
	margin-left: 27%;
	width: 65%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
}
.month-header{
	font-size: 50px;
	color: white;
	background-color: black;
	text-align: center;
	margin: auto;
	width: 50%;
	padding: 2% 0 2% 0;
	border-style: dotted;
	border-color: black;
}
.weekdays{
	padding-top: 2.5%;
	margin-left: 11%;
	width: 77%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.days{
	padding-top: 1%;
	display: grid;
	justify-content: center;
	grid-template-columns: 200px 200px 200px 200px 200px;
	grid-gap: 20px;
	color: black;
}
.days h2{
	padding-top: 25%;
	text-align: center;
}
.box{
	position: relative;
	height: 120px;
	padding: 20px;
	border: solid 2px black;
	background-color: none
}
.day-number{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	color: white;
	background-color: #4C4C4C;
	width: 17%;
	height: 19%;
	padding-top: 4%;
}
.event-on-calendar{
	text-align: right !important;
	font-size: 19px;
}
.in-month{
	background-color: white;
}
.today{
	background-color: #C9C9C9;
}
/************************************************************************************/


/* this month styles */
.this-month-calendar{
	height: 100%;
	background: url("../imgs/grass.jpg") no-repeat center center fixed;
	background-size: cover;
}
/************************************************************************************/


/* next month styles */
.next-month-calendar{
	height: 100%;
	background: url("../imgs/highway.jpg") no-repeat center center fixed;
	background-size: cover;
}
/************************************************************************************/


/* endpage styles */
.endpage{
	height: 100%;
	background: url("../imgs/endpage.png") no-repeat center center fixed;
	background-size: 100% 100%;
}