/* general purpose targetting */
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body, html{
	height: 100%;
}
/* inactive background */
.hidden{
	display: none;
}
/* calendar grids */
.calendar{
	margin-left: 27%;
	width: 65%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
}
.days{
	padding-top: 2%;
	display: grid;
	justify-content: center;
	grid-template-columns: 200px 200px 200px 200px 200px;
	grid-gap: 20px;
	color: black;
}
.box{
	height: 100px;
	padding: 20px;
	border: solid 2px black;
	background-color: white;
}
.month-header{
	font-size: 50px;
	color: white;
	background-color: black;
	text-align: center;
	margin: auto;
	width: 50%;
	padding: 2% 0 2% 0;
	border-style: dotted;
	border-color: black;
}
/* mini logo in bottom left */
.mini-logo{
	position: absolute;
	bottom: 23px;
	left: 44px;
	background: url("../imgs/mini-logo.png");
}
hr{
	margin: auto;
	width: 60%;
}
/************************************************************************************/


/* homepage styles */
.homepage{
	height: 100%;
	background: url("../imgs/home.png") no-repeat center center fixed;
	background-size: cover;
}
/* fade-in animation */
@keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.logo{
	padding-top: 17.5%;
	animation-name: fadeIn;
	animation-duration: 8.5s;
}
/************************************************************************************/


/*upcoming events styles */
.upcoming{
	height: 100%;
	background: url("../imgs/bridge.jpg") no-repeat center center fixed;
	background-size: cover;
}
.upcoming-content-box{
	text-align: center;
	margin-left: 27%;
	width: 65%;
	height: 100%;
	background: linear-gradient(rgba(255, 255, 255, 0.3), white 45%);
}
.upcoming-content-box h1{
	padding: 8% 0 3% 0;
	font-size: 86px;
}
.upcoming-content-box h2{
	padding: 2% 0 1% 0;
	font-size: 46px;
}
.upcoming-content-box p{
	font-size: 26px;
	padding-bottom: 2%;
}
/************************************************************************************/


/* this month styles */
.this-month{
	height: 100%;
	background: url("../imgs/grass.jpg") no-repeat center center fixed;
	background-size: cover;
}
.weekdays{
	padding-top: 2%;
	margin-left: 10%;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}


/************************************************************************************/


/* next month styles */
.next-month{
	height: 100%;
	background: url("../imgs/highway.jpg") no-repeat center center fixed;
	background-size: cover;
}
/************************************************************************************/


/* endpage styles */
.endpage{
	height: 100%;
	background: url("../imgs/endpage.png") no-repeat center center fixed;
	background-size: cover;
}